{{define "content"}}

<h1 hx-trigger="load delay:1500ms" hx-get="/" hx-swap="outerHTML" hx-push-url="true" hx-target="body"
  class="text-4xl font-semibold text-primary-foreground">
  Logout from Telos.....</h1>

<p class="mt-4 text-sm text-gray-600">
  *You will be automatically redirected.
</p>


{{end}}