{{define "layout"}}

<nav>
  <ul
    class="flex items-center justify-center flex-1 p-1 space-x-1 list-none border rounded-md text-neutral-700 group border-neutral-200/80">
    <li hx-boost="true">
      <a href="/"
        class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium transition-colors rounded-md hover:text-neutral-900 focus:outline-none disabled:opacity-50 disabled:pointer-events-none bg-background hover:bg-neutral-100 group w-max">
        Home
      </a>
    </li>
    <li hx-boost="true">
      <a href="/"
        class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium transition-colors rounded-md hover:text-neutral-900 focus:outline-none disabled:opacity-50 disabled:pointer-events-none bg-background hover:bg-neutral-100 group w-max">
        admin
      </a>
    </li>
    <li>
      <a hx-get="/challenge" hx-target="body" hx-push-url="true"
        class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium transition-colors rounded-md hover:text-neutral-900 focus:outline-none disabled:opacity-50 disabled:pointer-events-none bg-background hover:bg-neutral-100 group w-max">
        Challenges
      </a>
    </li>
  </ul>
</nav>

{{template "content" .}}

{{end}}