<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org@1.9.9/dist/htmx.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="//unpkg.com/alpinejs" defer></script>


  <title>telos</title>
</head>



<body class="max-w-screen-md mx-auto p-4">
  <nav>
    <ul
      class="flex items-center justify-center flex-1 p-1 space-x-1 list-none border rounded-md text-neutral-700 group border-neutral-200/80">
      <li>
        <a hx-get="/" hx-target="#content" hx-push-url="true"
          class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium transition-colors rounded-md hover:text-neutral-900 focus:outline-none disabled:opacity-50 disabled:pointer-events-none bg-background hover:bg-neutral-100 group w-max">
          Home
        </a>
      </li>
      <li>
        <a href="#_"
          class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium transition-colors rounded-md hover:text-neutral-900 focus:outline-none disabled:opacity-50 disabled:pointer-events-none bg-background hover:bg-neutral-100 group w-max">
          Profile
        </a>
      </li>
      <li>
        <a hx-get="/challenge" hx-target="#content" hx-push-url="true"
          class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium transition-colors rounded-md hover:text-neutral-900 focus:outline-none disabled:opacity-50 disabled:pointer-events-none bg-background hover:bg-neutral-100 group w-max">
          Challenges
        </a>
      </li>
      <li>
        <a href="#_"
          class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium transition-colors rounded-md hover:text-neutral-900 focus:outline-none disabled:opacity-50 disabled:pointer-events-none bg-background hover:bg-neutral-100 group w-max">
          Login
        </a>
      </li>
    </ul>
  </nav>

  <div id="content">
    {{template "content" .}}
  </div>

</body>

</html>